<div class="p-2">
<h2 class="bg-primary primary-b text-light images-xlg d-flex p-2 fs-6 align-items-center">Items 
	<form action="<%= newsify.items_path %>" method="get">
		<input type="text" name="q" value="<%= @query %>" class="mx-2 fsz4 p-1"/>
	</form>
	<span class="ms-auto ml-auto badge bg-light text-dark badge-light"><%= num_comma Newsify::Item.count %></span>
	<%= link_to icon(icon:"plus"),newsify.new_item_path, class: "btn btn-sm ms-1 btn-light text-success" if is_admin? %>
</h2>
<%= render partial: "newsify/shared/menu",locals: {links: @menu_links,active_href: params[:itype] == "CATEGORY" ? newsify.categories_path : newsify.items_path} %>

<%= my_paginate @labeled.page(params[:page]), page: params[:page], categories: params[:itype] == "CATEGORY", label: params[:label] unless params[:q] %>
<%= render partial: "community/shared/labels_nav", locals: {selected: @label} %>
<%= render partial: "community/items/list", locals: {data:@labeled,show:@show_fields} %>
<%= my_paginate @labeled.page(params[:page]), page: params[:page], categories: params[:itype] == "CATEGORY", label: params[:label] unless params[:q] %>
</div>