<% title = "Articles" if local_assigns[:title].nil? %>
<% show_default = {tabs:false,importer:false,title:false} %>
<% show = local_assigns[:show].nil? ? show_default : show_default.merge(local_assigns[:show]) %>
<% data = local_assigns[:data] || Newsify::Source.limit(5) %>
<% if show[:tabs] %>

<div class="d-flex justify-content-between">

<div class="text-center p-1 my-1">
<%= tag.span "Recent articles", class: "btn btn-sm bg-white border rounded text-dark fs-6" %>
<%= link_to "Your feed", newsify.feed_path, class: "btn btn-sm bg-primary text-light fs-6 p-1 border rounded" %>

<%= (data.nil? || data.empty?) ? link_to("Import articles", newsify.sources_import_path, class: "btn btn-sm bg-primary text-light fs-6 p-1 border rounded") : link_to("View more1", newsify.sources_path, class: "btn btn-sm bg-primary text-light fs-6 p-1 border rounded") %>
</div>

<div class="ms-auto ml-auto">
<% if show[:importer] %>

<% if Newsify::Item.categories_loaded? %>
	<%= link_to raw("Categories #{tag.span(tag.i "",class:"fa fa-check-circle")}"),newsify.categories_path %>
<% else %>
<span class="mx-2">
	<%= link_to "Import categories", newsify.categories_import_path, class: "btn btn-sm btn-primary bg-primary text-light m-1" %>
</span>
<% end %>

<% end %>
<%= link_to "Topics", newsify.items_path, class: "mx-2" %>

<%= link_to "Admin", newsify.newsify_admin_path, class: "mx-2" if is_admin? %>
</div>
</div>
<% end %>




<% if show[:title] %>
<h5 class="mainH listH bg-primary primary-b text-light mb-1">
		<%= icon_text dbt(title),"newspaper", true %></h5>
<% end %>

<% unless data.nil? || data.empty? %>
	<% data.each do |row| %>
	<div class="my-1">
	<%= render partial: "newsify/sources/source", locals:{source:row,show:show,title_fs:"fs-6",details_fs:"fs-7"} %>
	</div>
	<% end %>
<% end %>

<% if data.empty? %>
<%= tag.div "No articles currently", class: "text-center alert alert-danger m-3" %>
<%= tag.div link_to("Import articles", newsify.sources_import_path, class: "btn btn-sm bg-primary text-light fs-6 p-1 border rounded"), class:"text-center my-2" %>
<% else %>
<div class="text-center">
<%= link_to "View more", newsify.sources_path, class: "btn btn-sm bg-primary text-light fs-6 p-1 border rounded" %>
</div>
<% end %>