<h5 class="d-flex">Author <%= link_to "Back", authors_path, class: "ms-auto ml-auto" %></h5>
<div class="bg-white m-2 p-1">
<%= @author.name %>
</div>
<% @author.author_orgs.each do |author_org| %>
<div class="bg-white p-1 m-1">
<%= link_to author_org.org.name, author_org.org %>
</div>
<% end %>

<h5 class="bg-light border p-1 d-flex align-items-center">Sources
<%= tag.span @author.sources.count, class: "mx-1 badge bg-info text-dark" %>
</h5>
<%= paginate @author.sources.page(params[:page]) %>
<% @author.sources.page(params[:page]).each do |source| %>
<div class="bg-white border p-1 m-1">
<%= render partial: "newsify/sources/source", locals:{source:source} %>
</div>
<% end %>