<% votes_interesting = org.interesting_votes(vote_flag:nil) %>

<div class="bg-white p-1 m-1 d-flex justify-content-between">
	<div class="d-flex align-items-center">
		<div style="width:60px;" class="border rounded bg-light text-dark mr-1 me-1 p-1 text-center"><b><%= org.sources.count %></b></div>
		<%= link_to org.name, org_path(:id=>org.id), class: "fsz4" %><% unless votes_interesting.nil? || votes_interesting.count == 0 %>
		<% end %>
	</div>
	<div style="width:140px;" class="d-flex align-items-center justify-content-end">
		<% unless votes_interesting.nil? %>
		<%= tag.span "#{org.interesting_vote_pct}%", class: "badge bg-success badge-success mx-1 fw-bold font-weight-bold" unless org.interesting_vote_pct.blank? || org.interesting_vote_pct.to_s == "NaN" %>
		<div class="border bg-secondary text-light rounded" style="width:80px;">
			<div class="bg-primary fsz6 fs-6 px-1 text-center text-white">
			<%= org.cached_content_score %>
			</div>
			<div class="fsz7 fs-7 px-1 text-center">
			<%= votes_interesting.count %> votes
			</div>
		</div>
		<% end %>
	</div>

</div>