<% data = local_assigns[:data] %>
<%= my_paginate data, page: @page %>

<% data.each do |row| %>
<div class="mb-2">
<%= link_to row.title, newsify.source_path(row) if false %>
<% begin %>
<%= render partial: "newsify/sources/source", locals:{source:row, btm_fs:"fs-7", show: {:classify_button=>false}} %>
<% rescue Exception => ex %>
<%= tag.div ex, class: "border p-1" %>
<% end %>
</div>
<% end %>
<%= my_paginate data, page: @page %>
