<% data = local_assigns[:data] %>
<% my_paginate_data = {
	data:data,
	paths:
		{
			prev: @label.nil? ? newsify.sources_path(request.parameters.except(:controller, :action, :id).merge({page:@page-1})) : newsify.sources_labeled_path(request.parameters.except(:controller, :action, :id).merge({page:@page-1})),
			next: @label.nil? ? newsify.sources_path(request.parameters.except(:controller, :action, :id).merge({page:@page+1})) : newsify.sources_labeled_path(request.parameters.except(:controller, :action, :id).merge({page:@page+1}))
		}
	} 
%>
<%= render partial: "newsify/util/my_paginate", locals: my_paginate_data %>

<% data.each do |row| %>
<div class="mb-2">
<%= link_to row.title, newsify.source_path(row) if false %>
<% begin %>
<%= render partial: "newsify/sources/source", locals:{source:row, btm_fs:"fs-7", show: {:classify_button=>false}} %>
<% rescue Exception => ex %>
<%= tag.div ex, class: "border p-1" %>
<% end %>
</div>
<% end %>

<%= render partial: "newsify/util/my_paginate", locals: my_paginate_data %>

