<% show_default = {votes:true,moderation:true,scores:false,interesting:false,added_by:true,similar_count:true} %>
<% show = local_assigns[:show].nil? ? show_default : show_default.merge(local_assigns[:show]) %>
<% show_count = (params[:debug] && is_admin?) %>
<div source-id="<%= source.id %>" class="source summaryItem oliWrap oli oprofile border mb-2 p-0 posr d-flex flex-column">
	
	<div class="topRow">
		<%= render partial: "community/votes/main", locals: {show_count:show_count,object: source, user: current_user, icon_colors: ["text-success","text-secondary"]} if show[:votes] && !current_user.nil? rescue tag.div("[Voting not enabled") %>

		<div class="oname d-flex bg-white p-1 px-2">
			<span class="d-flex m-1 me-2 mt-2">
		<%= render partial: "community/items/parts/connection", locals: {item: source, otype: "source", wrap: false,span_css:"mx-1 fsz3"} unless current_user.nil?  %></span> <%= link_to source.title, newsify.source_path(source), class:"text-dark font-weight-bold fs-4 nodec" %>

		<%= tag.span source.created_at_wtime, style:"min-width:120px;", class:"text-end fs-7 ms-auto ml-auto text-secondary" %>

		</div>
	</div>


	<div class="border-top bg-white text-secondary">
	
		<div class="row">
			<% if source.urltoimage.blank? %>
			<div class="col-12"><div class="px-2"><%= source.description %></div></div>
			<% else %>
			<div class="col-sm-2 col-3"><img class="img-thumbnail m-1" src="<%= source.urltoimage %>"/></div>
			<div class="col-sm-10 col-9"><%= source.description %></div>
			<% end %>
		</div>		

		<div class="snapBtm w-100 bg-light d-flex flex-column border-top">
			<div class="d-flex align-items-center">
				<div class="col-5 bg-light d-flex align-items-center">
				<% if show[:added_by] %>
				<div class="px-2">
				<% user = User.find_by(id:source.createdby) %>
				Added by <%= user.nil? ? "Auto importer" : link_to(user.respond_to?(:username) ? user.username : user.email, newsify.user_path(user)) %>
				</div>
				<% end %>
				<%= render partial: "newsify/sources/parts/similar_count", locals: {source:source,wrap_css:"mx-1"} if show[:similar_count] %>
				</div>
				<div class="col-2">
					<% summarized = source.is_summarized? user: current_user %>

					<% if summarized[:summarized] %>
					<%= link_to "Summarized #{summarized[:by_you] ? '(by you)' : ''}", newsify.source_path(source) %>
					<% end %>
				</div>
				<div class="col-5 text-right text-end">
					<div class="bg-light">
					<% begin %>
					<%= render partial: "community/votes/moderation", locals: {object: source, user: current_user,labels:Community::Voting::VOTESCOPE_LABELS} if show[:moderation] && !current_user.nil? %>
					<% rescue Exception => e %>
					ERROR: <%= e %>
					<% end %>
					</div>

				</div>
			</div>
		
			<%= render partial: "newsify/sources/parts/items_scrollable", locals: {source:source,show:show} %>
		</div>

		<% if show[:interesting] && !current_user.nil? %>

		<div class="justify-content-center p-1 px-3 border-top">
		<%= render partial: "community/votes/up_down_vote", locals: {show_count:show_count,object: source, otype: @otype.singularize, vote_scope: Community::Voting::VOTESCOPE_INTERESTING,icons: {up: "heart",down:"heart-broken"}, user: current_user, show_count: false,label:"Interested?",size:"lg"} rescue "Error:voting" %>
		</div>
		<% end %>

	

		<% if show[:scores] %>
		<div class="d-flex bg-primary-light justify-content-between">
			 <div class="px-2">Net score: <%= num_format(source.net_score,4,",") if source.respond_to?(:net_score) %>, Time decay: <%= num_format(source.time_decay,4,",") if source.respond_to?(:time_decay) %>

			Score: <%= num_format(source.cached_weighted_score,4,",") %>
			</div>
			<% unless @label.nil? %>
				<div><%= @label %>: <%= source.public_send("cached_weighted_#{@label}_score") %></div>
				<%= link_to raw("<i class='fa fa-users-cog'></i>"), feed_debug_path(otype: @otype, id: source.id), :remote=> true, method: :post %>
			<% end %>
		</div>
		<% end %>


		
		<div class="d-none" id="debug_<%= @otype %>_<%= source.id %>"></div>
	</div>
</div>