<h2 class="d-flex align-items-center"><%= ENV['NEWS_APP_NAME'] || 'Custom NEWS site' %>
	<%= link_to "Import", newsify.sources_import_path, class: "ms-auto ml-auto btn btn-sm btn-primary bg-primary" %>
</h2>
<%= paginate @labeled if false %>
<%= page_entries_info @labeled if false %>


<%= render partial: "newsify/sources/list", locals: {data: @labeled} %>

