<% service_description = "Group similar articles based on their headlines and brief snippet of text" %>

<% run_and_save = link_to "Run & save changes",newsify.sources_similar_path(run:1,save:1), class:"btn btn-sm btn-primary mx-1" %>

<h4 class="mb-1">Similar <%= link_to "Imported", newsify.sources_import_path %></h4>
<div class="alert alert-info">
<%= tag.div service_description, class: "mt-1" unless params[:save] %>

<% if params[:run] && params[:save] %>
<%= link_to "Rate articles",sources_similar_path(run:1,save:1), class:"btn btn-sm btn-primary" %>

<% elsif params[:run] %>
<%= run_and_save %>
<% else %>

<%= link_to "Run",newsify.sources_similar_path(run:1,save:1), class:"btn btn-sm btn-primary mx-1" %>

<%= run_and_save %>
<% end %>
</div>
<% unless @new_group_ids.nil? %>
<div>New groups: <%= @new_group_ids %></div>
<% end %>
<div class="row">
<div class="col-6">
<% if @similar.nil? %>
<%= tag.div "Classify::Similar not instantiated!", class: "alert alert-danger" %>
<% else %>


	<% if @similar.builder.nil? %>
		<h4>Sources <%= @sources.length %></h4>
		<%= render partial: "newsify/sources/list", locals: {data:@sources} if false %>
		
		<%= paginate @sources if false %>
		<% @sources.each do |source| %>
			<%= render partial: "newsify/sources/source",locals: {source: source, show: {similar_count: true}} %>
		<% end %>
	<% end %>


	<% unless @similar.builder.nil? %>
	<% @similar.builder.rows.each do |row| %>
	<div class="p-1 border-bottom">
		<%= row[:item].title %> (<%= row[:pairs].length %>)
		<% row[:pairs].each do |pair| %>
		<div class="ml-3 pl-3 border-bottom fsz7">
			<%= pair[:item].title %>
			(<%= pair %>)
		</div>
		<% end %>
	</div>
	<% end %>
	<% end %>

<% end %>
</div>
<div class="col-6">
	<% if @source_groups.nil? %>
	<%= tag.div "Source groups is nil", class: "alert alert-warning" %>
	<% else %>
	<h4>Source groups (<%= Newsify::SourceGroup.count %>, <%= Newsify::SourceGroup.distinct_groups %>)</h4>
	<%= render partial: "feedbacker/ui/auto_table",locals: {rows: @source_groups} %>
	<% end %>
	<% if @grouped.nil? %>
	<%= tag.div "Grouped is nil", class: "alert alert-warning" %>
	<% else %>
	<h4>Grouped (<%= @grouped.total_count %>)</h4>
	<% @grouped.each do |source| %>
	<%= render partial: "newsify/sources/source", locals: {source:source} %>
	<% end %>
	<% end %>
	</div>
</div>