<% if false %>
<h2>Organizations & Groups <span class="badge badge-primary"><%= num_format Community::Org.count,0,"," %></span>
<%= link_to "Info", orgs_info_path if false %>
</h2>
<% end %>
 	
 	<form action="?" method="get">
      		<input type="text" name="q" value="<%= @query %>" class="mx-2 fsz4 p-1"/>
    </form>

<div class="row">
	<div class="col-6">
		<h6 class="mainH listH bg-primary primary-b text-light">Organizations 
			<span class="mx-1 badge badge-light"><%= num_format Community::Org.count,0,"," %></span>
		
			<% if false %><div class="ml-auto"><%= page_entries_info @orgs, entry_name: 'org' %></div><% end %>

		</h6>
		<% if false %>
		<% paginate @orgs, window: 1, outer_window: 1 %>
		<div class="d-flex justify-content-between m-1">
			<%= link_to_prev_page @orgs, 'Prev Page',class: "btn btn-primary btn-sm" %>
			<%= link_to_next_page @orgs, 'Next Page',class: "ml-auto btn btn-primary btn-sm" %>
		</div>
		<% end %>

		<div class="bg-white p-1 m-1 d-flex align-items-center justify-content-between">
			<div class="d-flex align-items-center">
			<span class="badge badge-secondary mr-1"><b>Articles</b></span> <b>Name</b> 
			</div>
			<div style="width:140px;" class="d-flex align-items-center">
				<span class="badge badge-success ml-1"><b>Interest</b></span>
				<div style="width:80px;" class="px-1 text-center font-weight-bold">Score</div>
			</div>
		</div>
		<div class="bg-primary-light">
		<% @orgs.each do |org| %>
			<%= render partial: "community/orgs/show", locals: {org: org} %>
		<% end %>
		</div>

	</div>
	<div class="col-6">
		<%= render partial: 'community/orgs/groups', locals: {groups: @groups, paginate: true, count: nil} %>
	</div>
</div>

<% if false %>
<div class="container">
<% if @auto_ui %>

 <%= render :partial=>"/util/auto_table",:locals=>{:title=>"Orgs",:rows=>@orgs} %>

<% else %>
<h2>News Organizations</h2>

<div class="summaries olist vertical p-2">
	<% unless @orgs.nil? %>
		<% @orgs.each do |org| %>
		<div class="summaryItem oliWrap oli oprofile d-flex justify-content-between">
			<div class="oname"><%= link_to org.name, org_path(org) %></div>

			

		</div>
		<% end %>
	<% end %>
</div>


<% end %>
</div>
<% end %>