<% children_scrollable = true if local_assigns[:children_scrollable].nil? %>
<div class="bg-white border mb-2">
	<% grand_parent = item.parent.parent unless item.parent.nil? %>
	<div class="d-flex px-1 pt-1 fsz6">
		<% unless item.parent.nil? %>
		<div>
			<%= tag.span(safe_join([link_to(grand_parent.name, newsify.item_path(grand_parent), class: "text-dark"),tag.span("/",class:"mx-1")])) unless grand_parent.nil? %> <%= link_to item.parent.name, newsify.item_path(item.parent), class: "ms-1 fs-7 nodec text-dark" unless item.parent.nil? %>
		</div>
		<% end %>
		<div class="mx-2 fsz7 ms-auto ml-auto">
			<%= link_to "edit", newsify.edit_item_path(item), class: "mx-2" if show[:edit] %>
		</div>
	</div>

<div class="bg-white p-1 d-flex align-items-center">
	<%= render partial: "community/items/parts/connection", locals: {item:item,wrap: false,span_css:"mx-1 fsz3"} %>
	<%= link_to item.oname, newsify.item_path(item) %>

	<div class="ms-auto">
		
	<%= link_to "#{item.sources.count} #{"article".pluralize(item.sources.count)}", newsify.sources_path(oid:item.id), class: "px-1" if show[:articles] %>
	<%= tag.span(item.itype) if show[:itype] %>
	
	<% if false %>
	<%= tag.div item.weighted_score, class: "badge bg-info badge-info mr-1 me-1" %>
	<%= item.cached_weighted_interesting_average if show[:rank_score] %>
	<% end %>

	</div>

</div>
<%= tag.div render(partial: "community/votes/main", locals: {object: item, user: current_user}) if show[:votes] %>
<% if show[:relevance] %>
<div>Relevance: <%= item.relevance %>, Impressions: <%= item.impressionist_count %>, Tags: <%= item.source_topics.count %></div>
<% end %>

<%= tag.div render(partial: "community/items/parts/children",locals:{item:item,scrollable:children_scrollable}), class: "bg-light" if show[:children] %>

</div>