<% parent_pos = :btm %>
<% children_scrollable = true if local_assigns[:children_scrollable].nil? %>

<% votes_el = tag.div(render(partial: "community/votes/main", locals: {object: item, user: current_user}), class: "fs-7") if show[:votes] %>

<% parent_el = render(partial:"community/items/parts/list_parent",locals:{item:item,show:show}) %>

<div class="bg-white border mb-2">
<%= parent_pos == :top ? parent_el : votes_el %>

<div class="bg-white p-1 d-flex align-items-center">
	<%= render partial: "community/items/parts/connection", locals: {item:item,wrap: false,span_css:"mx-1 fsz5 fs-5 me-2"} unless current_user.nil? %>
	<%= link_to item.oname, newsify.item_path(item) %>

	<div class="ms-auto">
		
	<%= link_to "#{item.sources.count} #{"article".pluralize(item.sources.count)}", newsify.sources_path(oid:item.id), class: "px-1" if show[:articles] %>
	<%= tag.span(item.itype) if show[:itype] %>
	
	<% if false %>
	<%= tag.div item.weighted_score, class: "badge bg-info badge-info mr-1 me-1" %>
	<%= item.cached_weighted_interesting_average if show[:rank_score] %>
	<% end %>

	</div>

</div>
<%= parent_pos == :top ? votes_el : parent_el %>


<% if show[:relevance] %>
<div>Relevance: <%= item.relevance %>, Impressions: <%= item.impressionist_count %>, Tags: <%= item.source_topics.count %></div>
<% end %>

<%= tag.div render(partial: "community/items/parts/children",locals:{item:item,scrollable:children_scrollable}), class: "bg-light" if show[:children] %>

</div>